.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.921387;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls6{letter-spacing:-0.144000px;}
.ls5{letter-spacing:-0.072000px;}
.ls0{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.012000px;}
.ls1{letter-spacing:0.090400px;}
.ls3{letter-spacing:0.120000px;}
.ls2{letter-spacing:0.240000px;}
.ls7{letter-spacing:0.528000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.067040px;}
._1{width:1.106400px;}
._10{width:2.363680px;}
._8{width:13.080000px;}
._14{width:18.080000px;}
._9{width:27.272000px;}
._6{width:29.252000px;}
._13{width:36.128000px;}
._e{width:38.288000px;}
._5{width:45.432000px;}
._a{width:59.204000px;}
._4{width:80.360000px;}
._7{width:87.188000px;}
._2{width:107.264000px;}
._11{width:117.960000px;}
._d{width:126.120000px;}
._12{width:130.240000px;}
._c{width:132.292000px;}
._3{width:135.000000px;}
._f{width:136.044640px;}
._b{width:401.000000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:24.000000px;}
.fs2{font-size:36.000000px;}
.fs1{font-size:39.840000px;}
.fs0{font-size:56.160000px;}
.y1{bottom:0.000000px;}
.y47{bottom:81.024000px;}
.y46{bottom:92.064000px;}
.y45{bottom:103.100000px;}
.y0{bottom:111.500000px;}
.y44{bottom:113.420000px;}
.y43{bottom:121.820000px;}
.y42{bottom:134.060000px;}
.y41{bottom:145.100000px;}
.y3f{bottom:155.420000px;}
.y40{bottom:158.420000px;}
.y3e{bottom:166.460000px;}
.y3d{bottom:176.780000px;}
.y3c{bottom:185.180000px;}
.y3b{bottom:197.540000px;}
.y3a{bottom:207.860000px;}
.y39{bottom:218.780000px;}
.y38{bottom:229.850000px;}
.y37{bottom:240.170000px;}
.y36{bottom:251.210000px;}
.y35{bottom:261.530000px;}
.y34{bottom:271.850000px;}
.y33{bottom:282.890000px;}
.y32{bottom:293.930000px;}
.y31{bottom:304.250000px;}
.y30{bottom:315.290000px;}
.y2f{bottom:325.610000px;}
.y2e{bottom:335.930000px;}
.y2d{bottom:344.330000px;}
.y2c{bottom:356.690000px;}
.y2b{bottom:367.010000px;}
.y2a{bottom:377.930000px;}
.y29{bottom:388.370000px;}
.y28{bottom:398.690000px;}
.y27{bottom:409.630000px;}
.y26{bottom:420.070000px;}
.y25{bottom:430.390000px;}
.y24{bottom:441.430000px;}
.y23{bottom:451.750000px;}
.y22{bottom:462.070000px;}
.y21{bottom:473.110000px;}
.y20{bottom:483.430000px;}
.y1f{bottom:494.350000px;}
.y1e{bottom:505.390000px;}
.y1d{bottom:515.710000px;}
.y1c{bottom:526.750000px;}
.y1b{bottom:537.670000px;}
.y1a{bottom:548.710000px;}
.y19{bottom:559.150000px;}
.y18{bottom:569.470000px;}
.y17{bottom:577.870000px;}
.y16{bottom:590.140000px;}
.y15{bottom:601.180000px;}
.y14{bottom:611.500000px;}
.y13{bottom:622.540000px;}
.y12{bottom:632.860000px;}
.y11{bottom:641.260000px;}
.y10{bottom:653.620000px;}
.yf{bottom:663.940000px;}
.ye{bottom:674.260000px;}
.yd{bottom:684.580000px;}
.yc{bottom:694.900000px;}
.yb{bottom:705.340000px;}
.ya{bottom:715.660000px;}
.y9{bottom:725.980000px;}
.y8{bottom:736.300000px;}
.y7{bottom:746.740000px;}
.y6{bottom:755.140000px;}
.y5{bottom:767.640000px;}
.y4{bottom:779.160000px;}
.y3{bottom:791.520000px;}
.y2{bottom:807.600000px;}
.h6{height:24.949219px;}
.h5{height:37.423828px;}
.h4{height:38.003906px;}
.h3{height:41.415703px;}
.h2{height:59.286094px;}
.h1{height:648.000000px;}
.h0{height:841.920000px;}
.w1{width:567.000000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.x1{left:0.000009px;}
.x0{left:14.000000px;}
.x6{left:17.519991px;}
.x8{left:32.159991px;}
.x7{left:35.519991px;}
.x9{left:50.159991px;}
.xa{left:86.063991px;}
.xb{left:90.743991px;}
.x3{left:175.579991px;}
.x2{left:188.689991px;}
.x4{left:297.649991px;}
.x5{left:581.279991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls6{letter-spacing:-0.192000pt;}
.ls5{letter-spacing:-0.096000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls4{letter-spacing:0.016000pt;}
.ls1{letter-spacing:0.120533pt;}
.ls3{letter-spacing:0.160000pt;}
.ls2{letter-spacing:0.320000pt;}
.ls7{letter-spacing:0.704000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.422720pt;}
._1{width:1.475200pt;}
._10{width:3.151573pt;}
._8{width:17.440000pt;}
._14{width:24.106667pt;}
._9{width:36.362667pt;}
._6{width:39.002667pt;}
._13{width:48.170667pt;}
._e{width:51.050667pt;}
._5{width:60.576000pt;}
._a{width:78.938667pt;}
._4{width:107.146667pt;}
._7{width:116.250667pt;}
._2{width:143.018667pt;}
._11{width:157.280000pt;}
._d{width:168.160000pt;}
._12{width:173.653333pt;}
._c{width:176.389333pt;}
._3{width:180.000000pt;}
._f{width:181.392853pt;}
._b{width:534.666667pt;}
.fs3{font-size:32.000000pt;}
.fs2{font-size:48.000000pt;}
.fs1{font-size:53.120000pt;}
.fs0{font-size:74.880000pt;}
.y1{bottom:0.000000pt;}
.y47{bottom:108.032000pt;}
.y46{bottom:122.752000pt;}
.y45{bottom:137.466667pt;}
.y0{bottom:148.666667pt;}
.y44{bottom:151.226667pt;}
.y43{bottom:162.426667pt;}
.y42{bottom:178.746667pt;}
.y41{bottom:193.466667pt;}
.y3f{bottom:207.226667pt;}
.y40{bottom:211.226667pt;}
.y3e{bottom:221.946667pt;}
.y3d{bottom:235.706667pt;}
.y3c{bottom:246.906667pt;}
.y3b{bottom:263.386667pt;}
.y3a{bottom:277.146667pt;}
.y39{bottom:291.706667pt;}
.y38{bottom:306.466667pt;}
.y37{bottom:320.226667pt;}
.y36{bottom:334.946667pt;}
.y35{bottom:348.706667pt;}
.y34{bottom:362.466667pt;}
.y33{bottom:377.186667pt;}
.y32{bottom:391.906667pt;}
.y31{bottom:405.666667pt;}
.y30{bottom:420.386667pt;}
.y2f{bottom:434.146667pt;}
.y2e{bottom:447.906667pt;}
.y2d{bottom:459.106667pt;}
.y2c{bottom:475.586667pt;}
.y2b{bottom:489.346667pt;}
.y2a{bottom:503.906667pt;}
.y29{bottom:517.826667pt;}
.y28{bottom:531.586667pt;}
.y27{bottom:546.173333pt;}
.y26{bottom:560.093333pt;}
.y25{bottom:573.853333pt;}
.y24{bottom:588.573333pt;}
.y23{bottom:602.333333pt;}
.y22{bottom:616.093333pt;}
.y21{bottom:630.813333pt;}
.y20{bottom:644.573333pt;}
.y1f{bottom:659.133333pt;}
.y1e{bottom:673.853333pt;}
.y1d{bottom:687.613333pt;}
.y1c{bottom:702.333333pt;}
.y1b{bottom:716.893333pt;}
.y1a{bottom:731.613333pt;}
.y19{bottom:745.533333pt;}
.y18{bottom:759.293333pt;}
.y17{bottom:770.493333pt;}
.y16{bottom:786.853333pt;}
.y15{bottom:801.573333pt;}
.y14{bottom:815.333333pt;}
.y13{bottom:830.053333pt;}
.y12{bottom:843.813333pt;}
.y11{bottom:855.013333pt;}
.y10{bottom:871.493333pt;}
.yf{bottom:885.253333pt;}
.ye{bottom:899.013333pt;}
.yd{bottom:912.773333pt;}
.yc{bottom:926.533333pt;}
.yb{bottom:940.453333pt;}
.ya{bottom:954.213333pt;}
.y9{bottom:967.973333pt;}
.y8{bottom:981.733333pt;}
.y7{bottom:995.653333pt;}
.y6{bottom:1006.853333pt;}
.y5{bottom:1023.520000pt;}
.y4{bottom:1038.880000pt;}
.y3{bottom:1055.360000pt;}
.y2{bottom:1076.800000pt;}
.h6{height:33.265625pt;}
.h5{height:49.898438pt;}
.h4{height:50.671875pt;}
.h3{height:55.220937pt;}
.h2{height:79.048125pt;}
.h1{height:864.000000pt;}
.h0{height:1122.560000pt;}
.w1{width:756.000000pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.x1{left:0.000012pt;}
.x0{left:18.666667pt;}
.x6{left:23.359988pt;}
.x8{left:42.879988pt;}
.x7{left:47.359988pt;}
.x9{left:66.879988pt;}
.xa{left:114.751988pt;}
.xb{left:120.991988pt;}
.x3{left:234.106655pt;}
.x2{left:251.586655pt;}
.x4{left:396.866655pt;}
.x5{left:775.039988pt;}
}
